*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    background-color: #30B868;
    border: none;
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: white;
    margin: 24px 120px 24px 346px;
    cursor: pointer;
}
.logo img{
    width: 139px;
    height: 60px;
}
header {
    background-color:#FFFFFF;
    padding-top: 16px;
        
    
}
nav{
    width: 1600px;
    height: 92px;
    max-width: 1600px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
    background-color: antiquewhite;
    max-width: 1600px; 
    
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
#banner {
   /* border: 1px solid red;*/
    width: 1600px;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 70px 120px 134px 120px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    
}
#banner .banner-content{
    width: 1360px;
    height: 379px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

}
#banner .banner-content h1{
    width: 770px;
    height: 168px;
    font-size: 72PX;
    line-height: 84PX;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    margin-bottom: 16px;
}
#banner .white{
    color: #FFFFFF;

}
#banner .green{
    color: #30B868;
}
#banner .btn1{
    width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    color: #30B868;
    line-height: auto;
    border-radius: center;
    cursor: pointer;
    
}
#banner .btn img{
    width: 16px;
    height: 16px;
}
#banner .banner-content p{
    font-size: 18px;
    width: 1360px;
    height: 60px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}
#banner .btn-2{
    
     width: 251px;
     height: 52px;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 16px 12px 16px;
     border-radius: 4px;
     background-color: #30B868;
     border: none;
     cursor: pointer;
     color: rgba(255, 255, 255, 1);
     font-size: 16px;
     font-weight: 600;

}
#banner .btn-2 img{
    width: 20px;
    height: 20px;

}
#banner .btn-3{
    width: 198px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
}
#banner .btn-3 img{
    width: 20px;
    height: 20px;
}
#banner .the-primary-button{

     width: 465px;
     height: 52px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     gap: 16px;
}
.notes-dont-fail-structure-does-parent-container{
     width: 1600px;
     height: 448px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     gap: 44px;
     padding: 120px;
     margin-bottom: 120px;
     


}

.notes-heading{
     width: 1360px;
     height: 152px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 16px;
     




}




.notes-paragraph{
       
       width: 1360px;
       height: 20px;
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       display: flex;
       justify-content: center;
       margin-top: 16px;
       margin-bottom: 44px;
       color: #627382;
}


.notes-section-title{
    width: 1360px;
    height: 116px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}
.note-card-parent{
     width: 1360px;
     height: 300px;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 24px;
     margin-bottom: 120px;


}
.note-card{
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
}
.note-card img{
        width: 32px;
        height: 32px;
        background: rgba(249, 85, 85, 1);
        border-radius: 50%;
        display: block;
        margin: 0 auto 16px;
}
.note-card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    
}
.your-second-brain-section{
    margin-top: 120px;
    width: 1360px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;


}
.your-second-brain{

    width: 1360px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding: 120px;



}
.your-second-brain img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
    margin-top: 120px;
    
}
.your-second-brain-description{
    
    width: 700px;
    height: 396px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    


}
.your-second-brain-description h3{
    width: 700px;
    height: 20px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin-top: 102px;
    margin-left: 16px;

}
.your-second-brain-description h1{
    width: 700px;
    height: 116px;
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;

}
.your-second-brain-description p{
    width: 700px;
    height: 60px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    
}

.list-section{
    
    
    
    


    
    
    
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}


.list li img{
    
    
}
.ready-to-think-more-clearly{
    width: auto 1360px;
    height: auto 384px;
    padding: 80px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
}
.ready-to-think{
    
    width: 1360px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 80px 40px 80px 40px;
    color: bisque;


}
.ready-to-think h1{
    width: auto 1280px;
    height: auto 48px;
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;

}
.ready-to-think p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;  
     
}
.ready-to-think-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto 1280px;
    height: auto 88px;
    margin-top: 40px;
}

.btn-button{
    width: 194px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    margin-top: 40px;


}
.pera{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #627382;
}
.btn-button img{
    width: 20px;
    height: 20px;
}
.the-end-part{
    
     width: 1600px;
     height: 348px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     gap: 80px;
     padding: 120px 120px 30px 120px;
     background-color: #001931;


}
.footer-section img{
    
       width: 350px;
       height: 60px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       gap: 16px;


}
.social-link img{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
